* {
    box-sizing: border-box; /* Para garantir que o padding e border sejam incluídos nas dimensões */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe a altura total da tela */
    background-color: #fabfd3;
    background-image: linear-gradient(0deg, #fabfd3 20%, #B5FFFC 100%);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

main {
    flex: 1; /* Permite que o main cresça para ocupar o espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adiciona um espaço interno */
}

.img1, .img2 {
    margin: auto;
    height: 250px;
    width: auto;
}

.img2 {
    display: none;
}

button {
    width: 300px;
    height: 50px;
    background-color: #f7b5cb;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    margin: 40px auto 0;
    font-family: "Inconsolata", monospace;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #d89dff;
    font-weight: bold;
    cursor: pointer;
}

.messageBox {
    width: 700px; /* Limita a largura da caixa de mensagem */
    max-width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #d89dff;
    border-radius: 20px;
    box-shadow: 2px 3px 5px 1px rgba(92, 58, 95, 0.5);
    font-size: 26px;
    font-family: "Inconsolata", monospace;
    overflow: hidden; /* Garante que o texto não cause rolagem */
}

footer {
    padding: 20px 0; /* Adiciona espaço ao redor do footer */
    font-family: "Handjet", sans-serif;
    font-size: 20px;
    border-top: 1px solid #29292928;
}

.observation {
    font-size: 13px;
}

.social-links {
    display: flex;
    justify-content: center;
    padding: 5px 0 10px 0;
    font-size: 20px;
    align-items: center;
}

.social-links a {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
}

.social-links a:hover {
    background-color: #d89dff;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    main {
        padding: 10px; /* Reduz o padding em telas menores */
    }

    button {
        width: 90%; /* Faz os botões ocuparem mais espaço em telas pequenas */
    }

    .img2 {
        width: 95%;
    }

    .messageBox {
        max-width: 90%; /* Aumenta a responsividade da caixa de mensagem */
        overflow: auto;
        font-size: 1em;
    }
}
